fastapi
uvicorn
langchain
langgraph
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
pydantic
pydantic-settings
httpx
python-dotenv
python-multipart
ruff
langchain-groq
supabase==2.4.3
redis
elevenlabs<1.3.0
apscheduler
pypdf
